doctype html
html
  head
    link(href='/stylesheets/desktop-style.css', rel='stylesheet')
    link(href='/stylesheets/mobile-style.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/font-css/font-awesome.min.css")
  body
    block content
