body {
  margin: auto;
  padding: 0;
  width: 1024px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
  /* hide pointer events for unseen content */
  pointer-events: none;
  padding-left: 1%;
  text-align: center;
  width: 99%;
  height: 56px;
  background: linear-gradient(to right, #000000 16%,#000000 19%,#000000 19%,#f88200 19%,#ff8921 100%)
}

.header-icon {
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
  color: white;
}

#header-left {
  background-color: #000000;
  color: white;
  width: 80%;
  height: 100%;
  float: left;
  transform: skewX(-15deg);
}

#header-right {
  background-color: #ff8820;
  color: black;
  height: 100%;
  width: 20%;
  display: inline-block;
}


.right-header-icon-container {
  display: inline-block;
  transform: skewX(-15deg);
  width: 32%;
}

.right-header-icon-container:nth-child(-n+2) {
  border-right: 1px solid white;
}

#left-header-icon-container {
  float: right;
  margin-right: 3%;
}

/*.col2 {width: 100%;}*/

#primary-display {
  width: 728px;
  height: 432px;
  float: left;
}

#image-scroll-holder {
  width: 100%;
  height: 500px;
  display: none;
}

#primary-details {
  display: inline-block;
  width: 296px;
  height: 432px;
  margin-bottom: 30px;
}

#primary-details-content-1 {
  margin-top: 0px;
  margin-left: 40px;
}

#primary-details-content-2 {
  margin-left: 40px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  margin-top: 48px;
  margin-left: 40px;
  margin-bottom: 32px; /* specs asked for 32px */
}

.stat-label1 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 8px;
  color: grey;
}

.stat-figure1 {
  font-size: 16px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 10px; /* specs asked for 16px */
}

#share-container {
  margin-top: 24px;
  width: 120px;
}

.share-label1 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.mail-icon {
  float: right;
}

#mobile-call-div {
  background-color: #3FB34A;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  height: 50px;
  display: none;
}

#page-stats-container {
  margin-top: 32px;
}

.page-stat {
  display: inline-block;
  margin-right: 50px;
}

.stat-figure2 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  color: green;
}

#section2 {
  padding-top: 24px;
  background-color: #EFEFF2;
  padding-bottom: 24px;
}

.secondary-display-container {

  display: inline-block;
  width: 169px;
  height: 210px;
  background-color: #EFEFF2;
  overflow: hidden;
}

.secondary-display-container:nth-child(-n+5) {
  margin-right: 2px;
}

.secondary-display {
 /*width: 100%;*/
 height: 100%;
}

#specific-details-container {
  margin-top: 24px;
  margin-left: 28px;
  margin-right: 28px;
}

#exterior-details {
  width: 480px;
  height: 290px;
  margin-right:8px;
  display: inline-block;
  background-color: white;
}

#performance-details {
  width: 480px;
  height: 290px;
  display: inline-block;
  background-color: white;
}

.specific-details-title {
  margin-left: 40px;
  margin-bottom: 8px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 900;
  color: grey;
}

.specific-details-row {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  padding-bottom: 16px;
}

.specific-details-row:nth-child(-n+4) {
  border-bottom: 3px solid #9B9B9B;
}

.specific-label {
  display: inline-block;
  width: 230px;
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.specific-stat {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: inline-block;
}

#footer {display: none;}

#footer > p {
  color:grey;
  font-size: 28px;
}
